body {
  background-color: rgb(100, 121, 112);
}
img {
  width: 250px;
  height: auto;
}
.traits {
  position:absolute;
  left: 0px;
  top:0px;
}
#eye {
  width:250px;
}
#characterDiv {
 position:relative;
}
#interfaceDiv {
  display:flex;
  justify-content: center;
  gap:8px
}
#interfaceDiv div{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
button{
  padding: 10px;
}